<%- include('partials/header'); -%>
<div class="main-container">
    <div id="login"></div>
    <div id="heading" class="box">
        <h1>About us</h1>
    </div>
    <div id="description" class="box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quis minus sit neque. Reiciendis officia officiis nihil nam ratione blanditiis deserunt provident obcaecati, consequuntur dolores. Cumque quae quas officia odit.</p>
        <br>
        <p>This web-app was created for learning purpose. You can fork it and work on it own.</p>
        <p style="text-align: center; color: gray;">Thank you!!!</p>
    </div>
</div>


<%- include('partials/footer1'); -%>